.swiper__background-wrap {
  background-image: url("../img/swiper/swiper-background.jpg");
  background-color: rgba($lgray, 0.7);
  background-size: cover;
  padding: 120px 0 110px 0;
  position: relative;
}
.swiper__background-wrap::before {
  width: 135px;
  height: 112px;
  background-image: url("../img/flower/flower-small.png");
  left: 0;
  right: 0;
  margin: 0 auto;
  content: "";
  position: absolute;
  top: 0;
}
.swiper__inner {
  @extend .classes__inner;
  flex-wrap: nowrap;
}

.swiper__button-wrap {
  max-width: 1265px;
  margin: 0 auto;
  position: relative;
}
.swiper-button-prev {
  left: 0;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 35%;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  opacity: 1;
  font-size: 15px;
  font-weight: 900;
  width: 10px;
  height: 15px;
}
.swiper-button-prev::after {
  color: $blue;
}
.swiper-button-next::after {
  color: #bbbbbb;
}
@media (max-width: 1200px) {
  .swiper__inner {
    margin-left: -30px;
    .classes__content {
      max-width: 100%;
      flex-basis: calc(33.333% - 30px);
      margin-left: 30px;
      .classes__content-img {
        max-width: 100%;
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: 40%;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 30px;
    width: 15px;
    height: 30px;
  }
  .swiper-button-next::after {
    margin-left: -25px;
  }
  .swiper-button-prev::after {
    margin-right: -25px;
  }
}
@media (max-width: 760px) {
  .swiper__inner {
    .classes__content {
      flex-basis: calc(50% - 30px);
    }
  }
}
@media (max-width: 580px) {
  .swiper {
    .container {
      padding: 0;
    }
  }
  .swiper__background-wrap {
    padding-bottom: 50px;
  }
  .swiper__inner {
    margin-left: 0px;
    .classes__content {
      flex-basis: 100%;
      margin-left: 0px;
      .classes__content-box {
        padding: 0 15px;
      }
    }
  }
}
