.teachers__top {
  padding: 140px 0 100px 0;
  background-image: url("../img/teachers/teachers-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  width: 100%;
  color: #fff;
  text-align: center;
}
.teachers__inner {
  max-width: 630px;
  width: 100%;
  margin: 0 auto;
}
.teachers__title {
  margin-bottom: 30px;
}
.teachers__text {
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
}
.teachers__btn-text {
  font-family: "Poppins-Regular", sans-serif;
  margin-bottom: 20px;
}
.teachers__btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.fa.fa-arrow-down {
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #fff;
}

.teachers__galery {
  padding: 120px 0;
  display: grid;
  grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 60px;
}
div[class^="teachers__galery-item"] {
  display: flex;
  max-width: 250px;
  overflow: hidden;
}
.teachers__item-img {
  display: block;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}
.teachers__item-box {
  padding-top: 15px;
}
.teachers__item-name {
  font-size: 1.1428em;
  font-family: "Poppins-SemiBold", sans-serif;
  color: #000;
}
.teachers__item-position {
  color: #999;
}
@media (max-width: 900px) {
  .teachers__galery {
   padding:50px 0 10px;
   grid-template:1fr 1fr 1fr/1fr 1fr 1fr;
  }
  div.teachers__galery-item-4,
  div.teachers__galery-item-7,
  div.teachers__galery-item-9{
    display:none;
  }
 }
 @media (max-width: 630px) {
  .teachers__galery {
   grid-template:1fr 1fr/1fr 1fr 1fr;
  }
  div.teachers__galery-item-2,
  div.teachers__galery-item-5,
  div.teachers__galery-item-12{
    display:none;
  }
 }
@media (max-width: 500px) {
  .teachers__top {
   padding:70px 0 30px 0;
  }
 }
