.classes__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
}
.classes__content {
  max-width: 275px;
  width: 100%;
}
.classes__content-img {
  display: block;
  max-width: 270px;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  @include img;
}
.classes__content-title {
  font-size: 1.2857em;
  color: $blue;
  height: 45px;
  font-family: "Poppins-Medium", sans-serif;
  overflow: hidden;
  margin-bottom: 20px;
}
.classes__content-items {
   margin-bottom: 20px;
  color: #999;
  font-size: 0.92857em;
}
.classes__content-text {
   max-height: 70px;
  overflow: hidden;
  line-height: 24px;
}
.fa {
  color: $blue;
  margin-right: 10px;
}
select[class^="filter"]{
  background-color:#fff;
  color:$blue;
  border-color:transparent;
  margin-bottom: 10px;
}
.classes__inner .mix
{
  display: inline-block;
  margin-bottom: 30px;
 }


.classes__inner .mix{
  // text-align: left;
  // background: #03899c;
  // margin-bottom: 2%;
  display: none;
}

