.clases__wrap {
  background-image: url("../img/clases/clases-background.jpg");
  background-color: rgba($lgray, 0.7);
  padding: 120px 0 110px 0;
  position: relative;
}
.clases__wrap::before {
  width: 135px;
  height: 112px;
  background-image: url("../img/clases/classes-top-element.png");
  left: 0;
  right: 0;
  margin: 0 auto;
  content: "";
  position: absolute;
  top: 0;
}
.clases__title {
  margin-bottom: 75px;
  text-align: center;
}
.clases__content {
  display: flex;
  justify-content: space-between;
}
.clases__content-column {
  max-width: 275px;
  width: 100%;
}
.clases__content-img {
  display: block;
  max-width: 270px;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  @include img;
}
.clases__content-title {
  font-size: 1.2857em;
  color: $blue;
  height: 45px;
  font-family: "Poppins-Medium", sans-serif;
  overflow: hidden;
  margin-bottom: 20px;
}
.clases__content-items {
  margin-bottom: 20px;
  color: #999;
  font-size: 0.92857em;
}
.clases__content-text {
  max-height: 70px;
  overflow: hidden;
  line-height: 24px;
}
.fa {
  color: $blue;
  margin-right: 10px;
}
.clases__swiper-button-wrap {
  max-width: 1265px;
  margin: 0 auto;
  position: relative;
}
.swiper-button-prev {
  left: 0;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 35%;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  opacity: 1;
  font-size: 15px;
  font-weight: 900;
  width: 10px;
  height: 15px;
}
.swiper-button-prev::after {
  color: $blue;
}
.swiper-button-next::after {
  color: #bbbbbb;
}
