.classes__filter-wrapper {
  background-image: url("../img/classes/classes-background.png");
  padding: 300px 0 45px;
  background-repeat: no-repeat;
  background-position: top right;
  margin-top: -175px;
}
.classes__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.classes__content {
  max-width: 275px;
  width: 100%;
}
.classes__content-img {
  display: block;
  max-width: 270px;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  @include img;
}
.classes__content-title {
  font-size: 1.2857em;
  color: $blue;
  height: 45px;
  font-family: "Poppins-Medium", sans-serif;
  overflow: hidden;
  margin-bottom: 20px;
}
.classes__content-items {
  margin-bottom: 20px;
  color: #999;
  font-size: 0.92857em;
}
.classes__content-text {
  max-height: 70px;
  overflow: hidden;
  line-height: 24px;
}
.fa {
  color: $blue;
  margin-right: 10px;
}
select[class^="filter"] {
  background-color: #fff;
  color: $blue;
  border-color: transparent;
  margin-bottom: 10px;
}
.classes__inner .mix {
  display: inline-block;
  margin-bottom: 70px;
}

.classes__inner .mix {
  display: none;
}
@media (max-width: 1900px) {
  .classes__filter-wrapper {
    background-image: url("../img/classes/classes-background.png");
    padding: 230px 0 45px;
  }
}
@media (max-width: 580px) {
  .classes__filter-selects {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .classes__inner {
    justify-content: center;
  }
}
@media (max-width: 470px) {
  .classes__filter-wrapper {
    background-image: none;
    margin-top: 0;
    padding-top: 0;
  }
}
@media (max-width: 430px) {
  select.classes__filter-select {
    width: 100%;
    max-width: 100%;
  }
}
