@font-face {
  font-family: "DroidSerif-Italic";
  src: url("../fonts/droid-serif-italicallfontru.woff") format("woff"), /* Modern Browsers */
    url("../fonts/droid-serif-italicallfontru.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Poppins-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins-Medium.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Poppins-Medium.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../fonts/Poppins-Bold.woff") format("woff"), /* Modern Browsers */
  url("../fonts/Poppins-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-Light";
  src: url("../fonts/Poppins-Light.woff") format("woff"), /* Modern Browsers */
   url("../fonts/Poppins-Light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Italic";
  src: url("../fonts/Lato-Italic.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Lato-Italic.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Lato-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
