.footer {
  background-color: $dgray;
  font-size: 13px;
  color: #bbb;
}
.footer__wrap {
  background-color: $black;
  @include w100;
}
.footer__subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 110px;
  @include w100;
}
.footer__subscribe-logo {
  @extend .header__logo;
}
.footer__logo-icon {
  @extend .header__logo-icon;
}
.footer__logo-text {
  @extend .header__logo-text;
  font-family: "Poppins-Bold", sans-serif;
}
.footer__subscribe-title {
  text-transform: uppercase;
  font-size: 1.23em;
  color: #fff;
}
.footer__subscribe-subtitle {
  font-family: "Lato-Italic", sans-serif;
}
.footer__subscribe-form {
  width: 100%;
  max-width: 410px;
  display: flex;
  justify-content: flex-end;
}
.footer__subscribe-input,
.footer__subscribe-btn {
  height: 50px;
  width: 100%;
  border-radius: 25px;
  border: none;
}

.footer__subscribe-input {
  background-color: $dgray;
  max-width: 300px;
  padding: 0 20px;
  color: #fff;
}
.footer__subscribe-btn {
  background-color: $blue;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -30px;
  max-width: 140px;
  text-transform: uppercase;
}
.footer__info {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}
.footer__info-title {
  color: #fff;
  margin-bottom: 20px;
}
.footer__info-contacts-item {
  max-width: 200px;
  width: 100%;
}
.footer__info-contacts-item + .footer__info-contacts-item {
  margin-top: 20px;
}
a[class^="footer__info-social"] {
  width: 40px;
  height: 40px;
  font-size: 0px;
}
.footer__info-social-facebook {
  background: url("../img/footer/css_sprites.png") -3px -3px;
}
.footer__info-social-twitter {
  background: url("../img/footer/css_sprites.png") -141px -3px;
}
.footer__info-social-google {
  background: url("../img/footer/css_sprites.png") -95px -3px;
}
.footer__info-social-pinterest {
  background: url("../img/footer/css_sprites.png") -49px -3px;
}
.footer__info-useful-item {
  margin-bottom: 5px;
}
.footer__info-work-item {
  width: 235px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.footer__info-work-day,
.footer__info-work-time {
  display: inline-block;
  max-width: 38%;
  width: 100%;
}

.footer__info-map {
  border-radius: 40px;
}
.footer__navigation-copy {
  display: flex;
  justify-content: space-between;
}
.footer__navigation-item {
  display: inline;
}
.footer__navigation-item + .footer__navigation-item {
  margin-left: 15px;
}
.footer__navigation-link {
  text-transform: uppercase;
}
.footer__navigation-link.active {
  color: #fff;
}
.fa-heart {
  color: #85af4b;
}
@media (max-width: 1000px) {
  .footer__info {
  padding:30px 0;
   flex-wrap: wrap;
   justify-content: space-around;
  }
  .footer__info-column{
    width: 50%;
    text-align: center;
    margin-top:10px;
  }
  .footer__info-title{
    margin-top: 30px;
  }
  .footer__info-contacts-item{
    max-width: 100%;
  }
  .footer__info-work-item{
    width: 100%;
  }
}
@media (max-width: 930px) {
  .footer__subscribe-form {
    max-width: 350px;
  }
}
@media (max-width: 820px) {
  .footer__subscribe {
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
  }
  .footer__subscribe-text,
  .footer__subscribe-form {
    max-width: 100%;
    width: 50%;
  }
  .footer__subscribe-logo {
    @include w100;
    display: flex;
    justify-content: center;
    
  }
  .footer__subscribe-btn {
    max-width: 110px;
  }
}
@media (max-width: 600px) {
  .footer__subscribe-text,
  .footer__subscribe-form {
    text-align: center;
    justify-content: center;
    width: 100%;
  }
  .footer__subscribe-form{
    margin-top:10px;
  }
  .footer__info-column{
    width: 100%;
  
  }
  .footer__info-map{
    iframe{
      width:100% !important;
     
    }
  }
}


