html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $ultrablue;
  }
}
html,
body {
  position: relative;
  overflow-x: hidden;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: "Lato-Regular", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $text;
  font-weight: 400;
  max-width: 1920px;
}
q{
  display:block;
}
// прижимаем footer к дну страницы
* {
  margin: 0;
  padding: 0;
}
html,
body {
   height: 100%; 
    }
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
//
.header__container {
  max-width: 1830px;
  margin: 0 auto;
  padding: 0 15px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-fluid {
  max-width: 100%;
  margin: 0 auto;
}
h3[class$="title"] {
  font-size: 3.428em;
  line-height: 1.25;
  color: $blue;
  font-family: "Poppins-Light", sans-serif;
  font-weight: 100;
  margin-bottom: 80px;
  text-align: center;
}

h4[class$="title"] {
  font-size: 2.2857em;
  line-height: 1.25;
  color: inherit;
  font-family: "Poppins-Light", sans-serif;
  text-align: center;
  font-weight: 100;
}

div[class$="__page-title-wrap"]{
  @extend .container-fluid;
  background-image:url('../img/header/header-page-background.png');
  min-height: 503px;
  @media(max-width:1080px){
    min-height: 400px;
    background-size:cover;
  }
 }
div[class$="__top-title-inner"]{
  margin-top:120px;
}
@media(max-width:1450px){
  div[class$="__top-title-inner"]{
      margin-left: 10%;
  }
}
@media(max-width:1080px){
  div[class$="__top-title-inner"]{
    margin-top: 60px;
  }
}
h1[class$="__page-title"] {
  font-family: "Poppins-Light", sans-serif;
  font-weight: 300;
  font-size: 5.14285em;
  line-height: 1.25;
  color: $ultrablue;
  margin-bottom: 10px;
  margin-top: 0;
}
@media(max-width:1450px){
  h1[class$="__page-title"]{
       font-size: 4em;
  }
}

div[class$="__page-subtitle"] {
  color: #99aade;
}
