.proposition {
  padding:125px 0 120px 0;
}
.proposition__inner {
 text-align: center;
}
.proposition__title {
  font-size: 2.2857em;
  color:#000;
  font-family: "Poppins-Light", sans-serif;
  margin-bottom:20px;
}
.proposition__text {
  margin:0 auto; 
  margin-bottom:50px;
  max-width: 450px;
}
.proposition__btn {
  @extend .header__btn-start;
  margin:0 auto; 
  max-width: 300px;
  margin-bottom: 80px;
}
.proposition__galery {
  display:grid;
  
}
.proposition__galery-item-1 {
}
.proposition__galery-item-2 {
}
.proposition__galery-item-3 {
}
.proposition__galery-item-4 {
}
.proposition__galery-item-5 {
}