// colors for backgrounds
$blue:#7492ec;
$lblue:#dfe5f2;
$lblue2:#dae1f2;
$lgray:#f1f3f8;
$dgray:#333333;
$black:#181818;

// colors for text
$text:#666666;
$tblue:#99aade;
$tblue2:#8ea2dc;
$ultrablue:#4c77eb;



@mixin w100 {
  max-width: 100%;
  width: 100%;
}
@mixin bgr{
  background-repeat:no-repeat;
  background-size:cover;
  }

  @mixin img{
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.05);
  }
  @mixin png{
    padding:120px 0;
  }